{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Register{% endblock %}
{% block css %}{% endblock %}
{% block body %}

<div class="container">
    <h1>Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Login" class="btn btn-secondary">
    </form>
</div>

{% endblock %}

{% block script %}
{% load static %}
    <script src="{% static 'crud_ajax/js/index.js' %}" defer></script>
{% endblock %}