{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ request.user.username|title }}'s Profile{% endblock %}
{% block css %}{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="avatar-box">
                <img src="{{ obj.avatar.url }}" alt="Profile" class="rounded" height="200px" width="auto">
            </div>
            <h3>Name: {{ obj.user.first_name }} {{ obj.user.last_name }}</h3>
            <h3>Username: {{ obj.user.username }}</h3>
            <h3>Email: {{ obj.user.email }}</h3>
        </div>
        <div class="col-md-8">
            <h1>Update Info</h1>
            <form id="profile-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <input type="submit" value="Update" class="btn btn-outline-warning">
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% load static %}
    <script src="{% static 'accounts/js/main.js' %}" defer></script>
{% endblock %}