{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
    <h1>CRUD using django and ajax</h1>
    <h3><div class="row">
        <div class="col-md-10">List of Post</div>
        <div class="col-md-2"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPostModal">
            Add Post
            </button>
    </div></h3>
   
  <!-- Modal -->
    <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addPostModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        <form id="post-form" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                        
                    </div>

            </div>
        </div>
    </div>
    <div id="posts-box">

    </div>
    <div class="text-center mb-3" id="end-box">
        <button class="btn btn-primary mt-3" id="load-btn">
            <span id="spinner-box"><span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span></span>
            Load More</button>
        <!-- <div id="spinner-box">
            <div class="spinner-border">
                
            </div> -->
        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
{% load static %}
    <script src="{% static 'crud_ajax/js/index.js' %}" defer></script>
{% endblock %}