{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Detail{% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'crud_ajax/css/post_detail.css' %}">{% endblock %}
{% block body %}

<div class="container mt-5">
    
    <span id="btn-auth">
        <button type="submit" id="btn-update" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#updateModel">Update</button>
        <button type="submit" id="btn-delete" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
    </span>
    <button type="submit" id="btn-back" class="btn btn-outline-secondary">Back</button>
</div>
<!-- Modal -->
<div class="modal fade" id="updateModel" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateModalLabel">Update Post "{{ post.title|title }}"</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <form id="update-form" method="post">
                        {% csrf_token %}
                        
                        {{ form|crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                    
                </div>

        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <form id="delete-form" method="post">
                        {% csrf_token %}
                        Do you Want to Delete this Post <b>"{{ post.title|title }}"</b>?
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </form>
                    
                </div>

        </div>
    </div>
</div>
<div id="post-box" class="container mt-5">
    
</div>

{% endblock %}

{% block script %}
<script src="{% static 'crud_ajax/js/post_detail.js' %}"></script>
{% endblock %}